<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title id="title">{{title}} | Practicum</title>

        <link href="../static/asset/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
        <link href="../static/asset/style/page.css" rel="stylesheet">
        <link href="../static/asset/style/details.css" rel="stylesheet">
        <script src="../static/asset/lib/jQuery/jquery-3.5.1.js"></script>
        <script src="../static/asset/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
        <script src="../static/asset/lib/Vue/vue.js"></script>
        <script src="../static/asset/js/utils.js"></script>
        <script src="../static/asset/js/details.js"></script>
    </head>
    <body>
        <div id="navigator"></div>

        <div id="book_main" class="container">
            <h2 v-text="book['name']"></h2>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <img :src=`${book['cover']}` width="150px" height="225px" :alt=`${book['name']}`>
                </div>
                <div class="col-lg-8">
                    <span class="text-info">作者: {{book['author']}}</span>
                    |
                    <span class="text-info">出版日期: {{book['publicationDate']}}</span>
                    |
                    <span class="text-info">出版社: {{book['press']}}</span>
                    |
                    <span class="text-info">ISBN: {{book['isbn']}}</span>
                    <hr>
                    <span class="btn btn-default text-info">借阅次数: {{book['sales']}}</span>
                    <span class="btn btn-danger text-info">书籍损毁/丢失赔付金额: {{book['unitPrice']}}元</span>
                    <hr>
                    <div class="pull-right">
                        <button id="btn_borrow" onclick="borrow()" v-if="!isBorrowed" class="btn btn-success">借阅
                        </button>
                        <button v-else class="btn btn-default disabled">已借出</button>
                        <button id="btn_go_back" onclick="history.go(-1)" class="btn btn-warning">返回</button>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h4>丛书简介</h4>
                <pre>{{book['brief']}}</pre>
            </div>
        </div>
        <script>
            function borrow() {
                if (window.confirm("确认借阅?")) {
                    let url = `${root}/borrow`;
                    $.get(url, {
                            isbn: getParam('isbn')
                        }, function (res) {
                            if (res) {
                                alert('借阅成功')
                                location.href = `${root}/borrowedItems?page=1&size=10`
                            } else {
                                alert('借阅失败，请确认用户已登录或稍后重试')
                            }
                        }, 'json'
                    )
                }
            }
        </script>
    </body>
</html>
