<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login | Practicum</title>

        <link href="../static/asset/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
        <link href="../static/asset/style/page.css" rel="stylesheet">
        <script src="../static/asset/lib/jQuery/jquery-3.5.1.js"></script>
        <script src="../static/asset/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
        <script src="../static/asset/lib/Vue/vue.js"></script>
        <script src="../static/asset/js/utils.js"></script>
        <script src="../static/asset/js/login.js"></script>
    </head>
    <body>
        <div style="position: absolute;top: 25vh; left: 10vw">
            <h1>One Library</h1>
        </div>
        <div class="container bg-info" style="border-radius: 4px; width:400px; padding: 10px;position: absolute; top:
         50%;left: 50%">
            <div class="form-group">
                <label for="username">username</label>
                <input id="username" type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input id="password" type="password" name="password" class="form-control">
            </div>
            <div class="btn-group pull-right">
                <button id="btn_login" class="btn btn-primary">登录</button>
                <button id="btn_to_register" class="btn btn-default">没有账户？点此注册</button>
            </div>
        </div>
    </body>
</html>
