<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title id="profile_title">{{title}} | Practicum</title>

        <link href="../static/asset/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
        <link href="../static/asset/style/page.css" rel="stylesheet">
        <script src="../static/asset/lib/jQuery/jquery-3.5.1.js"></script>
        <script src="../static/asset/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
        <script src="../static/asset/lib/Vue/vue.js"></script>
        <script src="../static/asset/js/utils.js"></script>
        <script src="../static/asset/js/profile.js"></script>
    </head>
    <body>
        <div id="navigator"></div>
        <div id="user_profile" class="container panel panel-collapse bg-info" style="border-radius: 4px;">
            <div class="panel-title"><h3>{{user['username']}}</h3></div>
            <hr>
            <div class="panel-body">
                <div>
                    <b>性别: </b>
                    <pre>{{user['gender']==='male'?'男':'女'}}</pre>
                </div>
                <div>
                    <b>年龄: </b>
                    <pre>{{user['age']}}</pre>
                </div>
                <div>
                    <b>联系信息: </b>
                    <pre>{{user['contactInfo']}}</pre>
                </div>
            </div>
            <hr>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog"
                 aria-labelledby="updateUserModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">修改用户资料</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="update_password">密码</label>
                                <input id="update_password" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="update_password_repeat">重复密码</label>
                                <input id="update_password_repeat" type="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="update_gender">性别<span style="color: red">*</span></label>
                                <select name="update_gender" id="update_gender" class="form-control">
                                    <option value="male" :selected="user['gender']==='male'">男</option>
                                    <option value="female" :selected="user['gender']==='female'">女</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="update_age">年龄<span style="color: red">*</span></label>
                                <input id="update_age" type="text" class="form-control"
                                       v-model="user['age']">
                            </div>
                            <div class="form-group">
                                <label for="update_contact_info">联系信息<span style="color: red">*</span></label>
                                <input id="update_contact_info" type="text" class="form-control"
                                       v-model="user['contactInfo']">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="btn_update_user" onclick="updateUser()" type="button" class="btn btn-primary">
                                提交更改
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group pull-right" style="padding: 30px">
            <button class="btn btn-success" data-toggle="modal" data-target="#updateUserModal">修改资料</button>
            <button id="profile_delete" class="btn btn-danger">注销账户</button>
        </div>
    </body>
</html>
