<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register | Practicum</title>

        <link href="../static/asset/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
        <link href="../static/asset/style/page.css" rel="stylesheet">
        <script src="../static/asset/lib/jQuery/jquery-3.5.1.js"></script>
        <script src="../static/asset/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
        <script src="../static/asset/lib/Vue/vue.js"></script>
        <script src="../static/asset/js/utils.js"></script>
        <script src="../static/asset/js/register.js"></script>
    </head>
    <body>
        <div class="container bg-info" style="border-radius: 4px; width:400px; padding: 20px; margin: 20px auto">
            <div class="form-group">
                <label for="username">用户名<span style="color: red">*</span></label>
                <input id="username" type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">密码<span style="color: red">*</span></label>
                <input id="password" type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">重复密码<span style="color: red">*</span></label>
                <input id="password_repeat" type="password" name="password_repeat" class="form-control">
            </div>
            <div class="form-group">
                <label for="gender">性别<span style="color: red">*</span></label>
                <select id="gender" name="gender" class="form-control">
                    <option value="male">男</option>
                    <option value="female">女</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">年龄<span style="color: red">*</span></label>
                <input id="age" type="text" name="age" class="form-control">
            </div>
            <div class="form-group">
                <label for="contactInfo">联系信息<span style="color: red">*</span></label>
                <input id="contactInfo" type="text" name="contactInfo" class="form-control">
            </div>
            <div class="btn-group pull-right">
                <button id="btn_register" class="btn btn-success">注册</button>
                <button id="btn_cancel" class="btn btn-warning">返回</button>
            </div>
        </div>
    </body>
</html>
